APP_PORT=8080
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=mini_ecommerce
JWT_SECRET=change-me-in-production
MIDTRANS_BASE_URL=https://api.sandbox.midtrans.com
MIDTRANS_SERVER_KEY=your-sandbox-server-key
